;      _____         _          _      _  _             ___
;     |  __  \      | |        | |    | |(_)           (__ \
;     | |__)  | ___ | |_   ___ | |__  | | _  _ __       / _/
;     |  _   / / _ \| __| / _ \| '_ \ | || || '_  \    (____)
;     | | \  \ |(_)|| |_  |(_)|| |_) || || || | | |
;     |_|  \'_\\___/ \___|\___/|__ _/ |_||_||_| |_| Map Modification
;
; * This file is a part of the Rotoblin 2 project http://code.google.com/p/rotoblin2/
;
; * License CC-BY-SA 3.0
;
;   [EN] http://creativecommons.org/licenses/by-sa/3.0/
;   [RU] http://creativecommons.org/licenses/by-sa/3.0/deed.ru
;
; * Version: 1.1
;
; * Created by raziEiL
; ---

add:
; --- comment #23
{
	"origin" "-12207 -5820 -10"
	"mins" "0 0 0"
	"maxs" "18 22 500"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_player_blocker"
}