;      _____         _          _      _  _             ___
;     |  __  \      | |        | |    | |(_)           (__ \
;     | |__)  | ___ | |_   ___ | |__  | | _  _ __       / _/
;     |  _   / / _ \| __| / _ \| '_ \ | || || '_  \    (____)
;     | | \  \ |(_)|| |_  |(_)|| |_) || || || | | | 
;     |_|  \'_\\___/ \___|\___/|__ _/ |_||_||_| |_| Map Modification
;
; * This file is a part of the Rotoblin 2 project http://code.google.com/p/rotoblin2/
;
; * License CC-BY-SA 3.0
;
;   [EN] http://creativecommons.org/licenses/by-sa/3.0/
;   [RU] http://creativecommons.org/licenses/by-sa/3.0/deed.ru
;
; * Version: 1.1
;
; * Created by Alma, Electr0, raziEiL
; ---


modify:
; --- comment #63
{
	match:
	{
		"hammerid" "4455334"
	}
	insert:
	{
		"OnStartTouch" "r2_blocker,Kill,,1,-1"
	}
}

add:
; --- comment #32
{
	"origin" "852 1066 130"
	"targetname" "r2_blocker"
	"mins" "0 0 0"
	"maxs" "15 1000 100"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_player_blocker"
}
{
	"origin" "883 1727 130"
	"targetname" "r2_blocker"
	"mins" "0 0 0"
	"maxs" "170 70 50"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_player_blocker"
}

; --- comment #33
{
	"solid" "6"
	"origin" "864.631775 1656.385498 17.031250"
	"angles" "359.957581 178.000107 -0.086229"
	"model" "models/props_unique/airport/temp_barricade.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"origin" "941.385010 1724.472290 17.031250"
	"angles" "359.913757 88.000114 0.059347"
	"model" "models/props_unique/airport/temp_barricade.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"origin" "928.779663 1782.327759 17.031250"
	"angles" "359.911499 90.000107 0.135621"
	"model" "models/props_unique/airport/temp_barricade.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"origin" "995.974365 1722.195801 17.031250"
	"angles" "359.913910 88.000114 0.079129"
	"model" "models/props_unique/airport/temp_barricade.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"origin" "994.851440 1781.424438 17.031250"
	"angles" "359.911499 90.000107 0.135621"
	"model" "models/props_unique/airport/temp_barricade.mdl"
	"classname" "prop_dynamic"
}
; --- comment #34
{
	"origin" "-193.906250 1965.593750 16.968750"
	"angles" "0.000000 225.043945 0.000000"
	"model" "models/props_vehicles/airport_baggage_cart2.mdl"
	"classname" "prop_physics"
}
