;      _____         _          _      _  _             ___
;     |  __  \      | |        | |    | |(_)           (__ \
;     | |__)  | ___ | |_   ___ | |__  | | _  _ __       / _/
;     |  _   / / _ \| __| / _ \| '_ \ | || || '_  \    (____)
;     | | \  \ |(_)|| |_  |(_)|| |_) || || || | | | 
;     |_|  \'_\\___/ \___|\___/|__ _/ |_||_||_| |_| Map Modification
;
; * This file is a part of the Rotoblin 2 project http://code.google.com/p/rotoblin2/
;
; * License CC-BY-SA 3.0
;
;   [EN] http://creativecommons.org/licenses/by-sa/3.0/
;   [RU] http://creativecommons.org/licenses/by-sa/3.0/deed.ru
;
; * Version: 1.1
;
; * Created by raziEiL
; ---

modify:
; --- comment #35
{
	match:
	{
		"hammerid" "1718212"
	}
	replace:
	{
		"HealthCount" "1"
	}
}

; --- comment #36
add:
{
	"rendermode" "10" 
	"solid" "6"
	"origin" "-2162.944336 -8872.920898 206.277985"
	"angles" "180.000000 44.999966 0.039565"
	"model" "models/props_street/police_barricade4.mdl"
	"classname" "prop_dynamic"
}
{
	"rendermode" "10" 
	"solid" "6"
	"origin" "-1907.235474 -9125.809570 213.452179"
	"angles" "180.000000 44.999966 0.039565"
	"model" "models/props_street/police_barricade4.mdl"
	"classname" "prop_dynamic"
}